<a href="https://colab.research.google.com/github/DGuilherme/EnergyProductionScheduling/blob/main/GeneticAlgorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Genetic Algorithm Implmentation
*A stochastic global optimization algorithm*

# Imports

In [ ]:
# install GA library
!pip install pygad

Collecting pygad
  Downloading pygad-2.16.1-py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 1.3 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pygad) (1.19.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from pygad) (3.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pygad) (1.3.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pygad) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pygad) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pygad) (3.0.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->pygad) (1.15.0)
Installing collected packages: pygad
Successfully installed pygad-2.16.1

In [ ]:
import numpy
import pandas as pd
import pygad as ga

# Datasets
*Note: the url for the dataset must be updated everytime this book is opened*

* [production_scheduling_maintenance_duedate_constraint](https://github.com/DGuilherme/EnergyProductionScheduling/blob/main/PhaseONE/Datasets/BJSP102_TestInstances/BJSP102_1.csv)
*   List item

In [ ]:

url = 'https://raw.githubusercontent.com/DGuilherme/EnergyProductionScheduling/main/PhaseONE/Datasets/BJSP102_TestInstances/BJSP102_1.csv?token=GHSAT0AAAAAABQ2Z462HLKR2BOJT5FHQGMEYPMGLJQ'
production_scheduling_maintenance_duedate_constraint = pd.read_csv(url)

In [ ]:
production_scheduling_maintenance_duedate_constraint.describe()

       Unnamed: 3  Unnamed: 4  ...  Unnamed: 19  Unnamed: 20
count   40.000000   32.000000  ...          0.0          0.0
mean     9.957250    1.198438  ...          NaN          NaN
std     10.398949    1.933157  ...          NaN          NaN
min      0.000000    0.000000  ...          NaN          NaN
25%      2.000000    0.000000  ...          NaN          NaN
50%      4.000000    0.790000  ...          NaN          NaN
75%     19.717500    1.010000  ...          NaN          NaN
max     30.020000    9.000000  ...          NaN          NaN

[8 rows x 18 columns]

In [ ]:
production_scheduling_maintenance_duedate_constraint.head

<bound method NDFrame.head of                        Job ID     1  ... Unnamed: 19  Unnamed: 20
0      Type (job/maintenance)   job  ...         NaN          NaN
1                    Resource     9  ...         NaN          NaN
2             Processing time  5.36  ...         NaN          NaN
3    Due date (soft and hard)  61.3  ...         NaN          NaN
4                Release date     0  ...         NaN          NaN
..                        ...   ...  ...         ...          ...
264  Due date (soft and hard)   144  ...         NaN          NaN
265              Release date   144  ...         NaN          NaN
266            Preceding Jobs   NaN  ...         NaN          NaN
267           Precedence Type   NaN  ...         NaN          NaN
268                       NaN   NaN  ...         NaN          NaN

[269 rows x 21 columns]>

In [ ]:
# Remove nan values from pandas df
data = production_scheduling_maintenance_duedate_constraint.dropna(how='all', axis=1)
print(data)

                       Job ID     1  ... Unnamed: 6  Unnamed: 7
0      Type (job/maintenance)   job  ...        NaN         NaN
1                    Resource     9  ...        NaN         NaN
2             Processing time  5.36  ...        NaN         NaN
3    Due date (soft and hard)  61.3  ...        NaN         NaN
4                Release date     0  ...        NaN         NaN
..                        ...   ...  ...        ...         ...
264  Due date (soft and hard)   144  ...        NaN         NaN
265              Release date   144  ...        NaN         NaN
266            Preceding Jobs   NaN  ...        NaN         NaN
267           Precedence Type   NaN  ...        NaN         NaN
268                       NaN   NaN  ...        NaN         NaN

[269 rows x 8 columns]

## Convert Dataset
Convert dataset to be usable

In [ ]:
# headers for the new dataset
headers = [
           "Job",
           "Type",
           "Resource",
           "Soft Due Data",
           "Hard Due Date",
           "Resource",
           "Release date",
           "Preceding Jobs",
           "Precedence Type"
           ]

# Genetic Algorithm Functions

In [ ]:
# the required functions

# Results

What kind of methods can be used to evaluate the results from the algorithm